@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    [Inject] private IJSRuntime _jsRuntime { get; set; }
    [Inject] private IHttpClientFactory _httpFactory { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync("alert", $"Hello from {nameof(OnAfterRender)} life cycle method");
        var client = _httpFactory.CreateClient("jsInteropHandler");
        await client.SendAsync(new HttpRequestMessage
        {
            // fake url
            RequestUri = new Uri("https://badrequest/bogusendpoint"),
            Method = HttpMethod.Get
        });
    }
}
